/*========== GOOGLE FONTS ==========*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*========== VARIABLES CSS ==========*/
:root {
  --header-height: 3.5rem;
  --nav-width: 219px;

  /*========== Colors ==========*/
  --first-color: #6923D0;
  --first-color-light: #F4F0FA;
  --title-color: #19181B;
  --text-color: #29272c;
  --text-color-light: #A5A1AA;
  --body-color: #f4f4f4;
  --container-color: #FFFFFF;



  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
  --normal-font-size: 1.051rem;
  --small-font-size: .85rem;
  --smaller-font-size: .85rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
}



@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 15px;
    --small-font-size: .875rem;
    --smaller-font-size: .913rem;
  }
}

/*========== BASE ==========*/
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: normal;
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h3 {
  margin: 0;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrap {
    display: grid;
    grid-template-columns: 17% 83%;
}

.side-nav{
  padding: 1rem;
  border-radius: 0.3em;
  background-color: #FFFFFF;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 1124px) {
  .wrap {
    display: grid;
    grid-template-columns: 100%;
}
.side-nav{
  display: none;
}
.navv{
  display: block !important;
}
}

@media (max-width:2070px){.navbar-expand-srset>.container,.navbar-expand-srset>.container-fluid{padding-right:0;padding-left:0}}@media (min-width:1071px){.navbar-expand-srset{-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-ms-flex-pack:start;justify-content:flex-start}.navbar-expand-srset .navbar-nav{-ms-flex-direction:row;flex-direction:row}.navbar-expand-srset .navbar-nav .dropdown-menu{position:absolute}.navbar-expand-srset .navbar-nav .dropdown-menu-right{right:0;left:auto}.navbar-expand-srset .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem}.navbar-expand-srset>.container,.navbar-expand-srset>.container-fluid{-ms-flex-wrap:nowrap;flex-wrap:nowrap}.navbar-expand-srset .navbar-collapse{display:-ms-flexbox!important;display:flex!important}.navbar-expand-srset .navbar-toggler{display:none}.navbar{flex-wrap:nowrap!important;-ms-flex-wrap:nowrap!important;}}